VITE_API_URL=http://localhost:3000
VITE_SUPABASE_URL=https://gprlkjsbxqpawcqpssgx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdwcmxranNieHFwYXdjcXBzc2d4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQxNTQwNjUsImV4cCI6MjA4OTczMDA2NX0.hpwpeBVsNXeS0wjKLDnlfE59o_kcLFdlF9zE1y51ZbU
